/*Start of nav menu section */

#nav_menu ul {
   list-style-type: none;
}

#nav_menu ul li {
   float: left;
   padding: 5px;
}

#nav_menu ul li a {
   text-align: center;
   font-weight: bold;
   color: white;
   display: block;
   width: 175px;
   padding: 1em 0;
   text-decoration: none;
   background-color: rgb(0, 149, 255);
   border: 1px solid white;
}

#nav_menu ul li a.current {
   background-color: #0003c2;
}

/*end of nav menu section*/

#dw {
   position: fixed;
   text-align: center;
   bottom: 0;
   width: 100%;
   height: 8px;
   padding: 0px 0px 0px 0px;
   font-size: 7px;
   color: rgba(0, 0, 0, 0.01);
   margin-bottom: 0%;
}

body {
   background: linear-gradient(#5bcefa 1%, #f5a9b8 25%, #ffffff 50%, #f5a9b8 75%, #5bcefa 100%);
   height: 100vh;
}

main {
   margin-left: 2.5%;
   font-family: Arial, Helvetica, sans-serif;
}

footer {
   font-family: Arial, Helvetica, sans-serif;
}