body {
    background: linear-gradient(#5bcefa 0%, #f5a9b8 25%, #ffffff 50%, #f5a9b8 75%, #5bcefa 100%);
}

#dw {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 8px;
    padding: 0px 0px 0px 0px;
    font-size: 7px;
    background-color: #ffffff;
    margin-bottom: 0%;
}

main {
    margin-left: 2.5%;
}

#banner{
    width: 90%;
    margin: 5%;
    border: #000000 5px double;
}